.popup_type_photo {
  width: auto;
  max-width: 75%;
  color: rgb(255 249 221);
  position: relative;
  box-sizing: border-box;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.photo {
  max-width: 100%;
  object-fit: contain;
}
.photo__title {
  padding: 10px;
  font-size: 20px;
  position: fixed;
  text-align: center;
  bottom: 0px;
}

@media screen and (max-width: 568px) {
  .popup_type_photo {
    max-width: 90%;
  }
}
